@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 3;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h2 {
  font-size: 1.1em;
  font-family: "Story Script", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: "Story Script", sans-serif;
  font-weight: 850;
  font-style: normal;
}

#foto {
 height: 300px;
  border: #7bcbe4e1 solid 5px;
  margin-top: 15px;
}

.tituloPrediccion {
  font-size: 2em;
}

.prediccion {
  font-size: 1.5em;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #846fc7e8;
  color: rgba(139, 232, 248, 0.795);
  margin-bottom: 2em;
  cursor: pointer;
}
body {
  background-color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor {
  transition: backgroud-color 0.5 ease;
  padding: 40px;
  background-color: aliceblue;
background-color: blanchedalmond;
}

